:root {
    --myVanilla-c-white: #fff;
    --myVanilla-c-white-soft: #f9f9f9;
    --myVanilla-c-white-mute: #f1f1f1;
    --myVanilla-c-black: #1a1a1a;
    --myVanilla-c-black-pure: #000;
    --myVanilla-c-black-soft: #242424;
    --myVanilla-c-black-mute: #2f2f2f;
    --myVanilla-c-indigo: #213547;
    --myVanilla-c-indigo-soft: #758ea7;
    --myVanilla-c-indigo-light: #aac8e4;
    --myVanilla-c-gray: #8e8e8e;
    --myVanilla-c-gray-light-1: #aeaeae;
    --myVanilla-c-gray-light-2: #c7c7c7;
    --myVanilla-c-gray-light-3: #d1d1d1;
    --myVanilla-c-gray-light-4: #e5e5e5;
    --myVanilla-c-gray-light-5: #f2f2f2;
    --myVanilla-c-gray-dark-1: #636363;
    --myVanilla-c-gray-dark-2: #484848;
    --myVanilla-c-gray-dark-3: #3a3a3a;
    --myVanilla-c-gray-dark-4: #282828;
    --myVanilla-c-gray-dark-5: #202020;
    --myVanilla-c-divider-light-1: #3c3c3c4a;
    --myVanilla-c-divider-light-2: #3c3c3c1f;
    --myVanilla-c-divider-dark-1: #545454a6;
    --myVanilla-c-divider-dark-2: #5454547a;
    --myVanilla-c-text-light-1: var(--myVanilla-c-indigo);
    --myVanilla-c-text-light-2: #3c3c3cb3;
    --myVanilla-c-text-light-3: #3c3c3c54;
    --myVanilla-c-text-light-4: #3c3c3c2e;
    --myVanilla-c-text-light-code: var(--myVanilla-c-indigo-soft);
    --myVanilla-c-text-dark-1: #ffffffde;
    --myVanilla-c-text-dark-2: #ebebeb99;
    --myVanilla-c-text-dark-3: #ebebeb61;
    --myVanilla-c-text-dark-4: #ebebeb2e;
    --myVanilla-c-text-dark-code: var(--myVanilla-c-indigo-light);
    --myVanilla-c-green: #42b883;
    --myVanilla-c-green-light: #42d392;
    --myVanilla-c-green-lighter: #35eb9a;
    --myVanilla-c-green-dark: #33a06f;
    --myVanilla-c-green-darker: #155f3e;
    --myVanilla-c-blue: #3b8eed;
    --myVanilla-c-blue-light: #549ced;
    --myVanilla-c-blue-lighter: #50a2ff;
    --myVanilla-c-blue-dark: #3468a3;
    --myVanilla-c-blue-darker: #255489;
    --myVanilla-c-yellow: #ffc517;
    --myVanilla-c-yellow-light: #ffe417;
    --myVanilla-c-yellow-lighter: #ffff17;
    --myVanilla-c-yellow-dark: #e0ad15;
    --myVanilla-c-yellow-darker: #bc9112;
    --myVanilla-c-red: #ed3c50;
    --myVanilla-c-red-light: #f43771;
    --myVanilla-c-red-lighter: #fd1d7c;
    --myVanilla-c-red-dark: #cd2d3f;
    --myVanilla-c-red-darker: #ab2131;
    --myVanilla-c-purple: #de41e0;
    --myVanilla-c-purple-light: #e936eb;
    --myVanilla-c-purple-lighter: #f616f8;
    --myVanilla-c-purple-dark: #823c83;
    --myVanilla-c-purple-darker: #602960;
    --myVanilla-c-bg: var(--myVanilla-c-white);
    --myVanilla-c-bg-soft: var(--myVanilla-c-white-soft);
    --myVanilla-c-bg-mute: var(--myVanilla-c-white-mute);
    --myVanilla-c-divider: var(--myVanilla-c-divider-light-1);
    --myVanilla-c-divider-light: var(--myVanilla-c-divider-light-2);
    --myVanilla-c-divider-inverse: var(--myVanilla-c-divider-dark-1);
    --myVanilla-c-divider-inverse-light: var(--myVanilla-c-divider-dark-2);
    --myVanilla-c-text-1: var(--myVanilla-c-text-light-1);
    --myVanilla-c-text-2: var(--myVanilla-c-text-light-2);
    --myVanilla-c-text-3: var(--myVanilla-c-text-light-3);
    --myVanilla-c-text-4: var(--myVanilla-c-text-light-4);
    --myVanilla-c-text-code: var(--myVanilla-c-text-light-code);
    --myVanilla-c-text-inverse-1: var(--myVanilla-c-text-dark-1);
    --myVanilla-c-text-inverse-2: var(--myVanilla-c-text-dark-2);
    --myVanilla-c-text-inverse-3: var(--myVanilla-c-text-dark-3);
    --myVanilla-c-text-inverse-4: var(--myVanilla-c-text-dark-4);
    --myVanilla-c-brand: var(--myVanilla-c-blue);
    --myVanilla-c-brand-light: var(--myVanilla-c-blue-light);
    --myVanilla-c-brand-dark: var(--myVanilla-c-blue-dark);
    --myVanilla-c-brand-highlight: var(--myVanilla-c-brand-dark)
}